# Target Config tplink_tl-wr802n
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ramips_mt76x8_DEVICE_tplink_tl-wr802n-v4=y
CONFIG_TARGET_DEVICE_ramips_mt76x8_DEVICE_tplink_tl-wr840n-v5=y
#CONFIG_TARGET_ALL_PROFILES=y

CONFIG_TARGET_BOARD="ramips"
CONFIG_TARGET_SUBTARGET="mt76x8" 
CONFIG_TARGET_ARCH_PACKAGES="mipsel_24kc" 
# CONFIG_TARGET_PROFILE="DEVICE_tplink_tl-wr802n"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mno-branch-likely -mips32r2 -mtune=24kc" 
CONFIG_CPU_TYPE="24kc" 
#CONFIG_LINUX_5_4=y

# Image Config
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ROOTFS_TARGZ=y
#CONFIG_TARGET_ROOTFS_EXT4FS=y
#CONFIG_TARGET_EXT4_JOURNAL=y
#CONFIG_TARGET_ROOTFS_SQUASHFS=y
#CONFIG_TARGET_ROOTFS_INITRAMFS=y
#CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y

# Extra LuCI APP
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Server=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=n
