# Target Config ar71xx tl-wr710n

CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr710n-v1=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr710n-v2.1=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr810n-v1=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr810n-v2=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr842n-v1=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr842n-v2=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr842n-v3=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr880n-v1=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr881n-v1=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr902ac-v1=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr941n-v7=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr942n-v1=y

CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr710n-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr710n-v2.1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr810n-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr810n-v2=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr842n-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr842n-v2=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr842n-v3=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr880n-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr881n-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr902ac-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr941n-v7=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_tl-wr942n-v1=y

CONFIG_TARGET_BOARD="ar71xx"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_ARCH_PACKAGES="mips_24kc"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mno-branch-likely -mips32r2 -mtune=24kc"
CONFIG_CPU_TYPE="24kc"
CONFIG_LINUX_4_9=y



# Image Config
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_EXT4_JOURNAL=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y


# Extra LuCI APP
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Server=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=n
